body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url(./components/pics/3d-abstract-background-with-futuristic-particles.jpg)!important;
  background: 100% 100% no-repeat;
}


* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Cairo", sans-serif;

}

ul a, ul a:hover {
  text-decoration: none !important;
  color: black;
  
}

.zz {
  z-index: 100;
}

.pointer {
  cursor: pointer;
  
}

.img-hover::before {
  content: "";
}

.loader {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  box-shadow: 1px 1px 20px #888888;
  transform: scale(1.02);
}

.btn:hover {
  background-color: #00adb5;
}





label {
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 15px;
  background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.color {
  color: #00ADB5;
}

.registerbtn {
  background-color: #00ADB5;
  border-radius: 5px;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.secubtn {
  background-color: #00ADB5;
  border-radius: 5px;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 5px 15px 0 rgb(46 61 73 / 30%);
}

.invalid {
  border: 1px solid #b40e0e !important;
  background-color: #fddddd;
}

.text-inavalid {
  color: #b40e0e !important;
}

.registerbtn:hover, .secubtn:hover {
  opacity: 1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}



.asid, .checkout .con {
  position: sticky;
  top: 110px;
  box-shadow: 0 5px 15px 0 rgb(46 61 73 / 12%);
}

.link {
  background-color: white;
  border-bottom: 2px solid #00ADB5;
}

.link a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  padding: 15px 0;
  text-align: center;
}

.link a:hover {
  background-color: #eee;
  color: #00ADB5;
  font-size: 1.1rem;
}

.active-profile {
  background-color: #eee;
  color: #00ADB5 !important;
  font-size: 1.1rem;
}


.adderss {
  position: relative;
}

.type {
  display: flex;
}

.type div {
  width: 100px;
  color: rgb(155, 160, 177);
  padding: 10px;
}

div.type {
  font-weight: bold;
}

.type span {
  padding: 10px;
}

.typee {
  display: flex;
}

.typee div {
  width: 150px;

  padding: 10px;
}

div.typee {
  font-weight: bold;
}

.typee span {
  padding: 10px;
  color: rgb(155, 160, 177);
}


.last {
  display: flex;
  justify-content: space-between;
}

.del-add {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

/*test*/


.fav, .add {
  border: 2px solid #ededed;
  border-radius: 10px;
}

.content {
  border-radius: 10px;
}

.side, .asid, link {
  border-radius: 10px;
}


/*cart*/
.con {
  border-radius: 10px;
}

.item {
  border: 2px solid #ededed;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}

.name .light {
  color: rgb(155, 160, 177);
}

.item .data .name {
  width: 70%;
}

.item .buttons button {
  padding: 5px 12px;
}

button svg {
  margin-right: 5px;
}

/*cart icon*/

.cart-icon {
  position: relative;
}

.cart-num {
  position: absolute;
  background-color: white;
  color: black;
  left: 52%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 25px;
  border-radius: 50%;
  z-index: 100;
  top: 20px;
}



.no-items {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}



.text {
  font-size: 3rem;
}

.no-items button {
  font-size: 2rem;
}

/*Checkout*/

.rad {
  margin-top: 14px;
  width: fit-content;
}


.banner_main {
  background: url(../src/components/pics/3d-render-background-design-network-communications.jpg);
  background-repeat: no-repeat;
  min-height: 900px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
.banner_main::before {
  position: absolute;
  content: "";
  width:50px; 
  height:40px;
  background: url(../src/components/pics/cross.png);
  background-repeat: no-repeat;
  bottom: -38px;
  right: 38px;
}
.banner_main::after {
  position: absolute;
  content: "";
  width:50px; 
  height:40px;
  background: url(../src/components/pics/cross.png);
  background-repeat: no-repeat;
  bottom: -38px;
  left: 38px;
}
.text-bg {
  text-align: left;
}

.text-bg h1 {
  color: #fff;
  font-size: 81px;
  line-height: 80px;
  padding-bottom: 45px;
  font-weight: bold;
}

.text-bg span {
  color: #fff;
  font-size: 42px;
  line-height: 50px;
  font-weight: normal;
  padding-bottom: 18px;
  display: block;
}

.text-bg p {
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 60px;
  display: block;
}

.text-bg figure img {
  width: 100%;
  padding-top: 70px;
}

.text_img {
  margin-right: -130px;
}

.text_img figure {
  margin: 0;
}

.text_img figure img {
  width: 100%;
}

.carousel-caption {
  position: inherit;
}

#banner1 .carousel-inner {
  padding-right: 130px;
}

#banner1 .carousel-indicators {
  left: inherit;
  bottom: 40px;
}

#banner1 .carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #48ca95;
  margin-right: 5px;
  margin-left: 5px;
}

#banner1 .carousel-indicators li.active {
  background: #ffffff;
}

#banner1 a.carousel-control-next,
#banner1 a.carousel-control-prev {
  display: none;
}

.text-bg a {
  font-size: 17px;
  background-color: transparent;
  border: #fff solid 2px;
  color: #fff;
  font-weight: 500;
  padding: 14px 0px;
  width: 100%;
  max-width: 215px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
  margin-right: 10px;
}

.text-bg a:hover {
  background-color: #48ca95;
  color: #fff;
  transition: ease-in all 0.5s;
}

